<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            Upload an Image
        </h3>
    </div>

    <form method="post" action="/loginform" enctype="multipart/form-data">
        <div class="panel-body form-horizontal">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label" for="username">Username:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="username">
                </div>
            </div>
	    <div class="form-group col-md-12">
                <label class="col-md-2 control-label" for="password">Password:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="password">
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-12 text-right">
                    <button type="submit" id="login-btn" class="btn btn-success" type="button"><i class="fa fa-cloud-upload "></i>Login</button>
                </div>
            </div>
        </div>
    </form>
</div>

