	<script src="timer.js"></script>
	<script src="timer2.js"></script>
	<script src="timer33.js"></script>
	<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Timers</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-4 text-center" id="timer1Box">
            
			<div class="card text-center">
  				
				<div class="card-header">
					<input type="text" id="timer1Name"></br>
    				<p>Timer name</p>
  				</div>
				
  				<div class="card-block">
    				<div id="timer1">
						<input type="text" class="hours" style="width:30px">
						<input type="text" class="minutes" style="width:30px">
						<input type="text" class="seconds" style="width:30px">
						<p>Done at: <span id="timer1End"></span></p>
					</div>
  				</div>
				
  				<div class="card-footer text-muted">
    				<a class="btn btn-primary" id="button1" role="button">Start</a>
  				</div>
				
			</div>
        </div>
		
		<div class="col-md-4 text-center" id="timer2Box">
			<div class="card text-center">
  				
				<div class="card-header">
					<input type="text" id="timer2Name"></br>
    				<p>Timer name</p>
  				</div>
				
  				<div class="card-block">
    				<div id="timer2">
						<input type="text" class="hours2" style="width:30px">
						<input type="text" class="minutes2" style="width:30px">
						<input type="text" class="seconds2" style="width:30px">
						<p>Done at: <span id="timer2End"></span></p>
					</div>
  				</div>
				
  				<div class="card-footer text-muted">
    				<a class="btn btn-primary" id="button2" role="button">Start</a>
  				</div>
				
			</div>
        </div>
		
		<div class="col-md-4 text-center" id="timer3Box">
			<div class="card text-center">
  				
				<div class="card-header">
					<input type="text" id="timer3Name"></br>
    				<p>Timer name</p>
  				</div>
				
  				<div class="card-block">
    				<div id="timer3">
						<input type="text" class="hours3" style="width:30px">
						<input type="text" class="minutes3" style="width:30px">
						<input type="text" class="seconds3" style="width:30px">
						<p>Done at: <span id="timer3End"></span></p>
					</div>
  				</div>
				
  				<div class="card-footer text-muted">
    				<a class="btn btn-primary" id="button3" role="button">Start</a>
  				</div>
				
			</div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            
        </div>
    </div>
</div>
